.. grid:: 1 1 2 3
   :gutter: 2

{% for p in data %}
   .. grid-item-card:: {{ p.title }}
      :shadow: md
      :class-card: sd-card-hover

      {{ p.description }}

      .. buttons::

         .. button-link:: {{ p.repo }}
            :color: primary
            :outline:
            :class: sd-btn sd-btn-icon

            :octicon:`mark-github`

         .. button-link:: {{ p.docs }}
            :color: secondary
            :outline:
            :class: sd-btn

            :material:`book;1.1em`  Docs
{% endfor %}
