a.sd-btn.sd-btn-icon {
    padding: 0.4rem 0.55rem;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
a.sd-btn .octicon { vertical-align: -0.15em; margin-right: .25rem; }
